.Pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 46px;
  margin-bottom: 50px;
  gap: 8px;
}

.Button {
  font-family: Roboto;
  font-size: 14px;
  padding: 9px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  width: 32px;
  height: 32px;
  background-color: #fff;
  cursor: pointer;
}
.Button:hover {
  opacity: .6;
}

.Button:first-child,
.Button:last-child {
  width: 50px;
}

.Button.Active {
  background-color: #1890ff;
  color: #fff;
}
